{% load browserid %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block site_css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/harold.css">
      {% browserid_css %}
    {% endblock site_css %}

    <link rel="shortcut icon" type="image/png" href="{{ settings.STATIC_URL }}img/favicon.png"/>
    {% block extra_headers %}{% endblock %}
  </head>
  <body>
    {% block site_header %}
      {% browserid_info %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#harold-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'base.index' %}">Harold</a>
        </div>

        <div class="collapse navbar-collapse" id="harold-navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% if nav == 'dashboard' %} class="active"{% endif %} %}><a href="{% url 'base.index' %}">Dashboard</a></li>
            <li{% if nav == 'feedback' %} class="active"{% endif %}><a href="{% url 'base.submit_feedback' %}">Submit feedback</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <li><a href="/admin/">Admin</a></li>
              {% endif %}
              <li>{% browserid_logout %}</li>
            {% else %}
              <li>{% browserid_login %}</li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% endblock site_header %}

    <div id="content" class="container">
      {% block content %}{% endblock content %}

      {% block footer %}
        <div id="footer">
          This site is powered by
          <a href="http://github.com/willkg/harold">harold</a>.
        </div>
      {% endblock footer %}
    </div>

    {% block site_js %}
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-3.0.2/js/bootstrap.min.js"></script>
      {% browserid_js %}
    {% endblock site_js %}
  </body>
</html>
