<!DOCTYPE html>
<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>
    {% block site_css %}
      <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ STATIC_URL }}css/harold.css">
    {% endblock site_css %}

    <link rel="shortcut icon" type="image/png" href="{{ settings.STATIC_URL }}img/favicon.png"/>
    {% block extra_headers %}{% endblock %}
  </head>
  <body>
    {% block site_header %}
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#harold-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'base.index' %}">Harold</a>
        </div>

        <div class="collapse navbar-collapse" id="harold-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#">Submit feedback</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </nav>
    {% endblock site_header %}

    {% block content %}{% endblock content %}

    {% block footer %}
      <div id="footer">
        This site is powered by
        <a href="http://github.com/willkg/harold">harold</a>.
      </div>
    {% endblock footer %}

    {% block site_js %}
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-3.0.2/js/bootstrap.min.js"></script>
    {% endblock site_js %}
  </body>
</html>
